<div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
         <div class="form-control" [ngClass]="{'invalide': form.get('title').touched && form.get('title').invalid}">
           <label for="title">Заголовок поста:</label>
           <input type="text" id="title" formControlName="title">
           <div class="validation" *ngIf="form.get('title').touched && form.get('title').invalid">
             <small *ngIf="form.get('title').errors.required">Введите поле заголовка.</small>
           </div>
         </div>
         <div class="form-control">
             <quill-editor formControlName="text"></quill-editor>
         </div>
         <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
             Оновити
         </button>
    </form>
</div>
<ng-template #loading>
    <p class="text-center">Загрузка...</p>
</ng-template>
